# Generic node stuff
node_modules
yarn-error.log

# Uses yarn as package manager, not npm
package-lock.json

# Secrets
config.*

# Migration tracking
.migrate

# Built frontend bundles
web/frontend/dist
